@import "scss/card";
@import "scss/layout";
@import "scss/content";
@import "scss/mobile";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1512px;
  height: 982px;
  background: linear-gradient(#f6f2ff, #fbfaff);
  margin-left: auto;
  margin-right: auto;
}
